SECRET_KEY=replace-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
DB_CONN_MAX_AGE=60
SECURE_SSL_REDIRECT=0
DJANGO_VITE_DEV_MODE=1
DJANGO_VITE_DEV_SERVER_HOST=127.0.0.1
DJANGO_VITE_DEV_SERVER_PORT=3000
