# Python virtual environments
venv
.venv

# UV cache and environment files
.python-version

# VS Code
.vscode

# Django
db.sqlite3
__pycache__/
*.py[cod]
*.log

# Node.js
node_modules/
package-lock.json

# Build outputs
frontend/bundles/*
frontend/dist/
build/

# Vite
.vite/